<!doctype html>
<title>Kabbage</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
{% for message in get_flashed_messages() %}
  <div class=flash>{{ message }}</div>
{% endfor %}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Pre-qualification form</h1>
    {% if error %}
      <strong>Error:</strong> {{ error }}
    {% endif %}
    <form action="{{ url_for('home') }}" method=post>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" name="firstName">
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" name="lastName">
      </div>
      <div class="form-group">
        <label for="emailAddress">Email</label>
        <input type="text" name="emailAddress">
      </div>
      <div class="form-group">
        <label for="businessName">Name of Business</label>
        <input type="text" name="businessName">
      </div>
      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input type="text" name="phoneNumber">
      </div>
      <div class="form-group">
        <label for="yearStarted">Year Started</label>
        <input type="number" name="yearStarted">
      </div>
      <div class="form-group">
        <label for="estimatedFICO">Estimated Fico</label>
        <input type="number" name="estimatedFICO">
      </div>
      <div class="form-group">
        <label for="estimatedAnnualRevenue">Estimated Annual Revenue</label>
        <input type="number" name="estimatedAnnualRevenue">
      </div>
      <div class="form-group">
        <label for="grossPercentageFromCards">Gross percentage from Credit Cards</label>
        <input type="number" name="grossPercentageFromCards">
      </div>
      <div class="form-group">
        <label for="businessTypesEnum">Business Type</label>
        <select name="businessTypesEnum">
          {% for type in businessTypes %}
            <option value="{{ type }}">{{ type }}</option>
          {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
